body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

/* Glass UI */
.glass-card {
  width: 300px;
  margin: 120px auto;
  padding: 30px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  text-align: center;
  color: white;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: white;
  background: rgba(0,0,0,0.4);
}

.home {
  text-align: center;
  margin-top: 100px;
  color: white;
}